.header {
    padding: 1rem 0 3rem;
}

.nav-link {
    padding: 1rem;
    color: orange;
    text-decoration: none;
    font-size: .9rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}